{% extends 'base.html' %}


{% block content %}
{% if listing.review_set.all %}
  <legend><h1>Reviews for {{ listing.address }}</h1></legend>
{% for review in listing.review_set.all %}
  {% if review.rating == 5 %}
    <div class="card text-white bg-primary mb-3" style="max-width: 100rem;">
    <div class="card-header">{{ review.user }}</div>
    <div class="card-body">
      <h4 class="card-title">{{ review.rating }}</h4>
      <p class="card-text">{{ review.review_text }}</p>
    </div>
    </div>
  {% endif %}
  {% if review.rating == 4 or review.rating == 3 %}
    <div class="card text-white bg-info mb-3" style="max-width: 100rem;">
    <div class="card-header">{{ review.user }}</div>
    <div class="card-body">
      <h4 class="card-title">{{ review.rating }}</h4>
      <p class="card-text">{{ review.review_text }}</p>
    </div>
    </div>
  {% endif %}
  {% if review.rating == 2 or review.rating == 1 %}
    <div class="card text-white bg-danger mb-3" style="max-width: 100rem;">
    <div class="card-header">{{ review.user }}</div>
    <div class="card-body">
      <h4 class="card-title">{{ review.rating }}</h4>
      <p class="card-text">{{ review.review_text }}</p>
    </div>
    </div>
  {% endif %}
{% endfor %}
{% else %}
    <p>No reviews are available.</p>
{% endif %}
<a class="btn btn-primary mt-2" href="{% url 'listings:review' listing.id%}">Submit a review</a>
{% endblock %}








