{% extends 'base.html' %}

{% block content %}
  <legend><h1>Here's what we found:</h1></legend>
{% if listing_list %}
    <ul>
    {% for listing in listing_list %}
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">{{ listing.type }}</div>
      <div class="card-body">
      <h4 class="card-title">{{ listing.address }}</h4>
      <p class="card-text">${{ listing.rent }}/month</p>
        <a href="{% url 'listings:detail' listing.id %}" class="btn btn-secondary stretched-link">Read Reviews</a>
      </div>
      </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No listings are available.</p>
{% endif %}
{% endblock %}