<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'projectb11/bootstrap.min.css' %}">
</head>

<body>

<!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="">project-b11</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="">link1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">link2</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

<footer>
    <div class="navbar fixed-bottom">
        <span class="text-light">copyright 2021</span>
    </div>
</footer>

</body>
</html>
